<div>

<sebm-google-map
        id="mapcomponent"
        style="height:calc(100vh - 6em);"
        [latitude]="status.latitude" [longitude]="status.longitude"
        [zoom]="mapsettings.zoom"
        [disableDefaultUI]="false"
        (mapClick)="mapClicked($event)">

  <sebm-google-map-marker
          *ngFor="#m of markers; #i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)"></sebm-google-map-marker>


</sebm-google-map>

        <i id="directionarrow" class="fa fa-arrow-up maptext" style="font-size:2em;position:absolute;top:45%;left:48%;" aria-hidden="true">
        </i>

</div>

