
.sebm-google-map-container {
  height: 480px;
}

.maparrow {
   color: #55e;
   /*  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
 }

.speedtext {
  color: #fff;
  font-size: 1.3em;
  /*  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}