

    <div *ngIf="myvertical" id="slider2" class="img-rounded slider-track slider-track-vertical"
        (click)="mouseEvent($event)" (mousemove)="mousemoveEvent($event)"
         >
        <div id="sliderpointer2" class="img-rounded slider-pointer slider-pointer-vertical"
             [ngStyle]="{'top': + x.toString()  + 'px'}">
        </div>
    </div>

<div *ngIf="!myvertical" id="slider" class="img-rounded slider-track slider-track-horizontal" (click)="mouseEvent($event)"
    (mousemove)="mousemoveEvent($event)"  >
    <div id="sliderpointer"  class="img-rounded slider-pointer slider-pointer-horizontal"
         [ngStyle]="{'left':  + x.toString() + 'px'}">
    </div>
</div>
