

<div *ngIf="!myvertical" id="slider" class="img-rounded slider-track slider-track-horizontal" (click)="mouseEvent($event)"
    (mousemove)="mousemoveEvent($event)"
     (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
     (touchstart)="touchEvent($event)" (touchmove)="touchEvent($event)" >
     <div class="inner-track inner-track-horizontal"></div>
    <div id="sliderpointer"  class="slider-pointer slider-pointer-horizontal"
         [ngStyle]="{'left':  + x.toString() + 'px'}">
    </div>
</div>
<div *ngIf="myvertical" id="slider2" class="img-rounded slider-track slider-track-vertical"
     (click)="mouseEvent($event)" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
     (touchstart)="touchEvent($event)" (touchmove)="touchEvent($event)" (mousemove)="mousemoveEvent($event)"
        >
    <div class="inner-track inner-track-vertical"></div>

    <div id="sliderpointer2" class="slider-pointer slider-pointer-vertical"
         [ngStyle]="{'top': + x.toString()  + 'px'}">
    </div>
</div>
