:host {
  background-color: #dd3333;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 3em;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

more {
  background: url("./assets/svg/more.svg");
  float: right;
  background-repeat: no-repeat;
  background-position: right;
  height: 24px;
  margin-top: 12px;
  width: 24px;
}

.chatbox {
  font-size: 18px;
  border-radius: 10px ;
  border-color: #aaa;
  height: 30px;
  color: #444;
}