:host {
  display: block;
  padding: 0 0px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

@media screen and (orientation:portrait) {
  .maparea {
    height: 30vh;
    width: 100%;
  }
  .chatarea {
    height: 20vh;
    width: 100%;
  }
  .videoarea {
    height: 30vh;
    width: 100%;
  }
  .slider {
    width: 40%;
  }
  .text-vertical {
    left:1em;
  }
  .settingspart {
    width: 49%;
    display: inline-block;
  }
  .videopart {
    width: 49%;
    display: inline-block;

  }
}
@media screen and (orientation:landscape) {
  .settingspart {
    width: 100%;
  }
  .videopart {
    width: 100%;
  }

  .maparea {
    height: 80vh;
    width: 34vw;
    position: absolute;
    top: 20px;
    left: 33vw;
  }
  .chatarea {
    position: absolute;
    top: 0px;
    left: 0vh;
    padding-top: 8px;
    height: 80vh;
    width: 33vw;
  }
  .videoarea {
    position: absolute;
    top: 0px;
    left: 67vw;
    padding-left: 30px;
    padding-right: 8px;
    height: 80vh;
    width: 33vw;
  }
  .slider {
    width: 15vw;
  }
  .text-vertical {
   left:1em;
  }



}
.inner {

  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  overflow: visible;
  white-space: nowrap;
}
.maptext {
  color: #ffffff;
  height: 1em;
  text-align: center;
  line-height: 1em;
/*  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

body {
  padding: 30px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0px;
  left:0px;
}

.vertical-element {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

input[type=range]:focus {
  outline: none;
}

svg {
  display: none;
}