<div id="homecomponent" style="position:relative">
    <div class="chatarea" id="chatbg">
        <sd-chat style="height:100%;"></sd-chat>
    </div>

    <div class="maparea">
        <sd-map>
        </sd-map>
    </div>


    <div class="videoarea" id="videobg">
        <div class="videopart">
            <br/>
            <sd-video></sd-video>
        </div>
        <div class="settingspart">
            <div class="row speedrow">
                <br/>
                <div class="col-xs-11">
                <div class="maptext ">Speed {{settings.speed}}
                </div>
                <sd-slider class="slider" (input)="changeSettings($event)"
                           id="speed" min="0" max="1" [(ngModel)]="settings.speed" vertical="false"
                        >
                </sd-slider>
                </div>
            </div>
            <div class="row turnrow">
                <br/>
                <div class="col-xs-11">

                <div class="maptext">Direction
                    {{settings.turn}}
                </div>

                <sd-slider class="slider" (input)="changeSettings($event)"
                           id="turn" min="-1.0" max="1" [(ngModel)]="settings.turn" vertical="false"
                        >
                </sd-slider>
                </div>
            </div>
        </div>

    </div>


</div>






