<div style="position: relative" id="homecomponent">
    <div class="chatarea" id="chatbg">
        <sd-chat style="height:100%;"></sd-chat>
    </div>

    <div class="maparea">
        <sd-map>
        </sd-map>
    </div>


    <div class="videoarea videobackground" id="videobg">
        <sd-video></sd-video>

        <input class="maptext vertical-element slider-vertical"
               [(ngModel)]="settings.speed" (input)="changeSettings($event)" id="speed" type="range" min="0" max="1"
               step="0.02">

        <div class="maptext vertical-element noselect  inner text-vertical" for="speed"
             style="position:absolute;bottom:60px">Speed {{settings.speed}}
        </div>

        <input style="position: absolute;bottom:1em;left:5em;" [(ngModel)]="settings.turn" class="slider-horizontal" (input)="changeSettings($event)" id="turn" type="range" min="-1" max="1"
                   step="0.02">
        <div style="position: absolute;bottom:3.3em;left:5em;" class="maptext noselect" for="turn">Direction
            {{settings.turn}}
        </div>

    </div>

</div>
<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'>
    <rect width='8' height='8' fill='#221144'/>
    <path d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='#1e1e2d'/>
</svg>






