:host {
  display: block;
  padding: 0 0px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
.videobackground {
  background-color: #223;
}
@media screen and (orientation:portrait) {
  .maparea {
    height: 35vh;
    width: 100%;
  }
  .chatarea {
    height: 20vh;
    width: 100%;
  }
  .videoarea {
    height: 30vh;
    width: 100%;
  }
  .slider-vertical {
    position:absolute;
    bottom:85px;
    left: -10px;
    width: 120px;
  }
  .slider-horizontal {
    width: 200px;
  }
  .text-vertical {
    left:1em;
  }


}
@media screen and (orientation:landscape) {
  .maparea {
    height: 90vh;
    width: 34vw;
    position: absolute;
    top: 0px;
    left: 33vw;
  }
  .chatarea {
    position: absolute;
    top: 0px;
    left: 0vh;
    height: 90vh;
    width: 33vw;
  }
  .videoarea {
    position: absolute;
    top: 0px;
    left: 67vw;

    height: 90vh;
    width: 33vw;
  }
  .slider-vertical {
    position:absolute;
    bottom:150px;
    left:-4em;
    width: 200px;
  }
  .text-vertical {
   left:1em;
  }
  .slider-horizontal {
    width: 20vw;
  }



}
.inner {

  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  overflow: visible;
  white-space: nowrap;
}
.maptext {
  color: #ffffff;
  height: 1em;
  text-align: center;
  line-height: 1em;
/*  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

body {
  padding: 30px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
  padding: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.vertical-element {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

input[type=range]:focus {
  outline: none;
}
#demo {
  position: absolute;
  top: 0px; left: 0px;
  right: 0px; bottom: 0px;
}
#code {
  border: 1px solid #000;
  background-color: rgba(255,255,255,0.95);
  padding: 0.5em;
  margin: 1em;
}
svg {
  display: none;
}