<p>
  Roboboat for Raspberry Pi by Ilkka Pärssinen
<p>

<h2>Features of the boat</h2>
<ul>
  <li>Raspberry Pi</li>
  <li>Two AC motors, skid steering</li>
  <li>GPS</li>
  <li>On board camera</li>
  <li>Fishing rig with flex sensor to detect catches</li>
  <li>Python client connected via websocket to server</li>
  <li>Speakers</li>
  <li>4G connection to internet</li>
</ul>

<h2>Server features</h2>
<ul>
  <li>Node.js server for web sockets</li>
  <li>Server can serve multiple boats</li>
  <li>Simple pub/sub system for passing information between boat and client(s)</li>
  <li>Serves the web ui html and javascript files</li>
  <li>Amazon EC2</li>
</ul>

<h2>Web client features</h2>
<ul>
  <li>Connects to server via web sockets</li>
  <li>Angular 2</li>
  <li>Map and simple MJPEG video</li>
  <li>Controls the boat</li>
</ul>
